# Папки и файлы, которые не нужно отслеживать
bin/
obj/

# Файлы конфигурации Visual Studio
.vs/
.vscode/
.idea/

# Логи и временные файлы
*.log
*.tmp

# Файлы отладки
*.pdb
*.dll
*.exe

# Прочие
*.[Cc]ache
*.[Tt]emp
